@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Pretendard", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #0f172a;
  background-color: #e2e8f0;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

